body {
  font-family: sans-serif;
  padding: 20px;
}

header {
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.header-container h1 {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-size: 2.4rem;
  margin: 0;
  display: flex;
  align-items: center;
  text-shadow: #a6a6a6c5 1px 0 3px;
}

#logo img {
  max-height: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container h3 {
  font-size: 1.8rem;
  text-align: center;
  text-shadow: #333 1px 0 3px;
  margin: 50px 0 10px 0;
}

.product-catalog {
  display: flex;
  flex-wrap: wrap;
}

.product {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
  width: 20%;
  margin: 1%;
}

.product img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.product h4,
p {
  margin: 10px 0;
}

.product button {
  background-color: #333333;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #555;
}

/* Cart */
.cart {
  margin-top: 40px;
}

.cart table {
  width: 100%;
  border-collapse: collapse;
}

.cart th,
.cart td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

td div {
  margin: 5px 0;
  border-bottom: 1px solid #3333332a;
}

.cart-summary {
  margin-top: 20px;
  text-align: right;
}

.cart-summary p {
  display: inline-block;
  color: #333;
  font-weight: bold;
  font-size: 1.4rem;
  border-bottom: 3px solid #333;
  margin: 5px 0;
}

/* Comments */
#comments-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 80px;
}

#comments-section h3 {
  font-size: 1.4rem;
  text-align: center;
  text-shadow: #333 1px 0 3px;
  margin-bottom: 20px;
}

/* hr {
  border: 2px solid #eee;
  max-width: 50%;
  margin-top: 80px;
} */

#comment {
  padding: 20px;
}

.comments-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-form div {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.comments-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.comments-form input,
.comments-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.comments-form textarea {
  height: 100px;
  background-color: #f4f4f4;
  resize: vertical;
}

.comments-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comments-form button:hover {
  background-color: #555;
}

#comment-data div {
  color: black;
  border: 1px solid #ccc;
  text-align: left;
  margin-top: 2rem;
  padding: 16px;
  font-size: 1.1rem;
}

#comment-data span::before {
  content: "Commented by:";
  font-weight: normal;
  padding-right: 10px;
  font-style: italic;
}

#comment-data span {
  position: relative;
  font-weight: bold;
  color: #888;
  font-size: 1rem;
  right: 15px;
  bottom: 10px;
  background-color: #f1f1f1;
  padding: 2px 5px;
  border-radius: 4px;
  white-space: nowrap;
}

footer p {
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
  color: #333;
}
